.container {
	background-color: #1f1f7a;
	height: 350px;
	width: 1000px;
	margin-bottom: 0px;
	text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 10% 80%; 
}

h1 {
	color: black;
	font-size: 80px;
	background-color: #D8D8D8;
	opacity: 0.8;
	font-family: "Comic Sans MS", cursive, sans-serif
	margin-bottom: 5px;
}

p {
	color: black;
	font-size: 12px;
	
	opacity: 0.7;
	font-family: "Comic Sans MS", cursive, sans-serif
	margin-bottom: 5px;
}

.email-counter {
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 5px;
	color: red;
	border: black;
}

.generated-row {
	font-weight: bold;
}

.row-highlight:hover { 
    background-color: yellow;
}

a:hover { 
    background-color: #66ccff;
}

h4 {
	text-decoration: underline;
}

#inbox-counter {
	color: blue;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}
th, td {
    padding: 5px;
    text-align: center;
}

 table#t01 th    {
    background-color: black;
    color: white;
}

.funky {
	font-size: 5px;
	background-color: #d9d9d9;
    color: white;
}
	
.msgDate {
	font-size: 15px;
	width: 40%;
	text-align: left;
}

.msgSubject {
	font-size: 20px;
	width: 35%;
	text-align: left;
}

.msgSender {
	font-size: 15px;
	width: 25%;
	text-align: left;
}